* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.content {
    height: 100vh;
    background: linear-gradient(135deg, #003399, #24cea6);
}

.main-div,
.toolbar,
.list-view {
    height: 100vh;
    display: flex;
}

.main-div {
    width: 100%;
}

.toolbar {
    background-color: lightgray;
    width: 300px;
    flex-direction: column;
    padding: 10px;
}

.list-view {
    align-items: center;
    flex-grow: 1;
    background: linear-gradient(135deg, #003399, #24cea6);
}

.list-div {
    margin: 10px;
    padding: 10px;
    padding-right: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}

.item-div {
    min-width: 20em;
    min-height: 2em;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}

.item-div-top-row {
    display: flex;
}

.delete-button {
    margin-left: auto;
}

.pop-up-form {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* aligns on vertical for column */
    align-items: center;
    /* aligns on horizontal for column */
    box-sizing: border-box;
}

.disabled {
    display: none;
}

.dimmer {
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.checkbox {
    margin-right: 1em;
}